@media (min-width: 350px) and (max-width: 1024px){

    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    
    header {
        background-color: #1B632B;
        width: 100%;
        display: grid;
      justify-content: center;
        
    }
    
    .logo-principal {
    margin: 5px;
    padding: 3px;
    text-align: center;
    
}
.ttulo{
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 24px;
}
h5{
    font-size: 20px;
    text-align: center;
}
.img-principal{
    text-align: center;

}
.info{
    text-align: center;
    padding: 8px;
}
.frase{
    text-align: center;
    font-size: 15px;
}

.spacer{
    padding-bottom: 75px;
}
footer{
    width: 100%;
    background-color: #1B632B;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
}
.rodape{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;

}
.rodape img{
    display: inline-flex;
    padding: 25px;
    padding-top: 5px;
}
}